.register{
    padding: 40px 0;
}
.register h1{
    text-align: center;
}
.register form button{
    width: auto;
}
.register .already{
    margin-top: 20px;
    color: #000;
}
.register .already a{
    color: #24c3b1;
    text-decoration: none;
}
.login .form-check input{
    width: auto;
    height: auto;
    display: inline-block;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 1;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.single .date{
    font-size: 14px;
    opacity: .6;
}
.editor-item{
    background-color: #fff;
    width: 100%;
}
.journal .list-item h5{
    margin-bottom: 0;
}
.journal .list-item p{
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.2;
}
.listings-item .tag{
    font-size: 10px;
    padding: 2px;
    text-align: center;
    width: 60px;
}
.listnews-item .text-wrap .tag{
    padding: 4px 4px 2px;
    line-height: 1;
    font-size: 10px;
    text-align: center;
    width: 60px;
}
.single .comment-item{
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.single .comment svg{
    position: relative;
    display: block;
    margin: 0 auto 5px;
}
.single .comment small{
    display: block;
    text-align: center;
}
.single .comment form{
    padding-left: 0;
}
footer a{
    text-decoration: none;
    color: #fff;
}
.stick{
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #24c3b1;
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 5px;
}
.stick.comp{
    background-color: #f04e19;
}
.stick a{
    color: #fff;
    text-decoration: none;
}
.listings-item .stick{
    font-size: 12px;
    margin-bottom: 5px;
    padding: 3px 10px;
    display: inline-block;
}
.nav {
    padding: 10px 0;
    background-color: #484848;
}

.nav ul {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #f58850;
    /*color: #f04e19;*/
}
.nav ul li a.active {
    color: #f04e19;          /* как при hover */
    font-weight: 700;
    border-bottom: 2px solid #f04e19;
}


.nav ul li a:hover {
    color: #f04e19;
    /*color: #f04e19;*/
}

.stick {
    margin-bottom: 0;
    background-color: #f58850;
}

table a {
    color: #333;
    text-decoration: none;
}

.community .search {
    position: relative;
}

.community .search form input {
    border-radius: 30px;
    padding: 8px 30px;
    height: auto;
}

.community .search form button {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 15px;
    height: auto;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #484848;
}

.community .search form button img {
    width: 20px;
    height: 20px
}

.community .table-wrap table th {
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 1px solid #333;
}

.community .table-wrap table td {
    padding: 10px;
    border: 1px solid #edeceb;
}

.community .table-wrap table td .date {
    font-size: 14px;
}

.community .aic {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.community .btn-wrap {
    margin-top: 0;
}

.community .btn-wrap .more {
    background-color: #f58850;
}

nav ul.pagination li.active span {
    color: #f58850;
    border-color: #f58850;
}
nav ul.pagination li{
    margin: 0 2px;
}
nav ul.pagination li a, nav ul.pagination li span{
    font-size: 13px;
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 236, 235);
    transition: all .3s ease;
}
nav ul.pagination li a:hover{
    color: #f58850;
    border-color: #f58850;
}
nav ul.pagination li a::after{
    display: none;
}
.community form input[type='radio'] {
    width: auto;
    height: auto;
}

.community form .form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
}
