.register{
    padding: 40px 0;
}
.register h1{
    text-align: center;
}
.register form button{
    width: auto;
}
.register .already{
    margin-top: 20px;
    color: #000;
}
.register .already a{
    color: #24c3b1;
    text-decoration: none;
}
.login .form-check input{
    width: auto;
    height: auto;
    display: inline-block;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 1;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.single .date{
    font-size: 14px;
    opacity: .6;
}
.editor-item{
    background-color: #fff;
    width: 100%;
}
.journal .list-item h5{
    margin-bottom: 0;
}
.journal .list-item p{
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.2;
}
.listings-item .tag{
    font-size: 10px;
    padding: 2px;
    text-align: center;
    width: 60px;
}
.listnews-item .text-wrap .tag{
    padding: 4px 4px 2px;
    line-height: 1;
    font-size: 10px;
    text-align: center;
    width: 60px;
}
.single .comment-item{
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.single .comment svg{
    position: relative;
    display: block;
    margin: 0 auto 5px;
}
.single .comment small{
    display: block;
    text-align: center;
}
.single .comment form{
    padding-left: 0;
}
footer a{
    text-decoration: none;
    color: #fff;
}